.containerTable {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}
.table-responsive {
  overflow-x: auto;
}

.searchInput {
  display: flex;
  justify-content: flex-end;
  width: 80%;
}

@media (max-width: 768px) {
  .containerTable {
    padding: 10px;
  }

  .rdt_Table {
    font-size: 14px;
  }

  .rdt_Table .rdt_TableHead {
    display: none;
  }

  .rdt_Table .rdt_TableBody {
    display: block;
    overflow-x: auto;
  }

  .rdt_Table .rdt_TableRow {
    display: block;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }

  .rdt_Table .rdt_TableCell {
    display: block;
    padding: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
  }
}
